@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    font-size: 20px;
    padding-bottom: 50px;
}

header p a {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}

header p a:hover {
    text-decoration: underline;
}




section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: 'Sriracha', cursive;
    padding-left: 30px;
    font-size: 3vw;
}

section p {
    padding-bottom: 1.5vh;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(58, 58, 58);
    color: white;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.500);
}

.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.500);
    padding: 10px;
}

#img01 {
    background-image: url(/imagens/background001.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
}

#img02 {
    background-image: url(/imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}




footer {
    background-color: black;
    padding: 10px;
}

footer p {
    color: white;
    text-align: center;
}

footer p a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}